<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th class="<%= sort_highlight('title') %>">
          <%= link_to "Title #{sort_symbol('title')}", movies_path(sort: 'title', order: toggle_order('title')) %>
        </th>
        <th class="<%= sort_highlight('rating') %>">
          <%= link_to "Rating #{sort_symbol('rating')}", movies_path(sort: 'rating', order: toggle_order('rating')) %>
        </th>
        <th class="<%= sort_highlight('release_date') %>">
          <%= link_to "Release Date #{sort_symbol('release_date')}", movies_path(sort: 'release_date', order: toggle_order('release_date')) %>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td ><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date.strftime("%d-%b-%Y") %></td>
          <td><%= link_to "Show", movie %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><%= link_to "New movie", new_movie_path %></td>
      </tr>
    </tfoot>
  </table>
</div>
